
input, button, select {
  border: 2px solid currentColor;

  &, &> field {
    background-color: #0009;
  }
  &[disabled] {
    opacity: 0.5;
  }
}

input[type=button], button {
  cursor: pointer;
  border-radius: 1em;
}

input[type=button], button, select, div.whoopsie {
  border-radius: 1em;
  padding: 0 1em;
  position: relative;
  &:enabled {
    &:before {
      border-radius: 1em;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      content: "";
      transition: opacity 300ms ease-out;
      // background-image: radial-gradient(at center, currentColor, #0000 50%);
      background-image: radial-gradient(at center, #0000 50%, currentColor);
      // background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi5.fapality.com%2Fcontents%2Falbums%2Fsources%2F2000%2F2242%2F79608.jpg&f=1&nofb=1);
      background-position: 50% 74%;
      background-size: cover;
      background-clip: content-box;
    }
    &:hover:before {
      opacity: 0.8;
    }

  }
}

select, option {
  font-family: inherit;
}