@use "sass:color";

@import "open-props/style";
// @import "open-props/normalize";
// @import "@picocss/pico/css/pico.min.css";
@import "modern-css-reset";

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* INCLUDES */
// @import "./backdrops.scss";
@import "./vt-gradients.scss";
@import "./footnote.scss";


:root {
	@include vt-gradients;
	color: #73e9ad;
}


* {
	// transition: color 300ms ease-in, background-color 300ms ease-in;
	text-shadow: 0 0 1em currentcolor;
}

h1, h2, h3, h4 {
	font-family: 'Press Start 2P', sans-serif;
	position: relative;
	word-wrap: break-word;
	z-index: 0;
	--glow-color: #18d073;
	width: fit-content;
	text-shadow: 
		0 0 1em var(--glow-color)
		, 0 0 0.5em var(--glow-color)
		, 0 0 0.25em var(--glow-color)
	;

	// before element - carries the shadow/glow
	// &:before {
	// 	word-wrap: break-word;
	// 	white-space: normal;
	// 	background: none;
	// 	content: attr(data-text);
	// 	left: 0;
	// 	top: 0;
	// 	right: 0;
	// 	position: absolute;
	// 	text-shadow: 
	// 		0 0 1em var(--glow-color)
	// 		, 0 0 0.5em var(--glow-color)
	// 		, 0 0 0.25em var(--glow-color)
	// 	;
	// 	z-index: 1;
	// }

	// after element - the gradient text
	&:after {
		content: attr(data-text);
		left: 0;
		top: 0;
		right: 0;
		position: absolute;
		background-image: var(--gradient-30);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		background-size: cover;
		z-index: 1;
		text-shadow: none;
	}
}

// @media (max-width: 480px) {
// 	h1, h2, h3, h4 {
// 		font-size: 1.5em;
// 	}
// }




section {
	padding: 1em;
	border-radius: 1em;
	margin-bottom: 1em;
}
