@use "sass:color";

// right now I get "Can't find stylesheet to import" if I load these from a 
// <style> in the layout.
@import "open-props/style";
@import "modern-css-reset";

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* INCLUDES */
@import "./footnote.scss";


:root {
	font-size: 28px;
	background-color: #000;
	color: var(--color);
	--color: #73e9ad;
	--glow-color: #11ec24;
	// background-size: 200%;
	max-width: 100%;
	overflow-x: hidden;
	--h-image: var(--gradient-30);
	--h-color: transparent;
}

body {
	padding: 1rem;
	font-family: 'VT323', monospace;
	background-attachment: fixed;
	max-width: 100%;
	overflow-x: hidden;
}

* {
	color: var(--color);
	text-shadow: 0 0 1em currentcolor;
}

main {
	max-width: 992px;
	margin: 0 auto;
}



section {
	padding: 1em;
	margin-bottom: 1em;
	border: 2px solid currentColor;
	position: relative;
}

// adapted from https://satabios.github.io/pensieve/clickable-cards
a.linkifier {
	// position: absolute;
	// visibility: hidden;
	width: 0;
	height: 0;
	display: block;
	overflow: hidden;
	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: 0;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transition: background-color 0.1s ease-out;
		background-color: transparent;
	}	
}


h1, h2, h3, h4 {
	// font-family: 'Press Start 2P', sans-serif;
	position: relative;
	word-wrap: break-word;
	z-index: 0;
	width: fit-content;
	text-shadow: 
		0 0 1em var(--glow-color)
		, 0 0 0.5em var(--glow-color)
		, 0 0 0.25em var(--glow-color)
	;

	// after element - the gradient text
	// --h-gradient: var(--gradient-30);
	&:after {
		content: attr(data-text);
		left: 0;
		top: 0;
		right: 0;
		position: absolute;
		background-image: var(--h-image);
		background-clip: text;
		-webkit-background-clip: text;
		color: var(--h-color);
		background-size: cover;
		z-index: 1;
		text-shadow: none;
		pointer-events: none;
	}
}


h1 {
	font-family: 'Press Start 2P', sans-serif;
	font-size: 1.2em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.2em;
}


// responsive snap at 992px
@media (min-width: 992px) {
	body {
		padding: 3rem;
	}
	h1, h2, h3, h4 {
		font-family: 'Press Start 2P', sans-serif;
	}
	h1 {
		font-size: 1.5em;
	}
	h2 {
		font-size: 1.3em;
	}
	h3 {
		font-size: 1.1em;
	}
	h4 {
		font-size: 1em;
	}
}




