:root {
	--shadow-color: var(--glow-color);
	--hover-shadow-color: var(--color);
}

section {
	padding: 0.5em;
	border: 2px solid currentColor;
	position: relative;
	--actual-shadow: var(--shadow-color);
	&.interactive {
		transition: transform 50ms ease-in-out;
		&:hover {
			--actual-shadow: var(--hover-shadow-color);
			transform: scale(1.01);
      a {
				text-decoration: underline;
      }
		}
	}
	box-shadow: 0em 0em 0.5em 0.1em var(--actual-shadow);
}

:root {
	--grid-column-count: 1;
}

.grid {
	display: grid;
	grid-template-columns: repeat(var(--grid-column-count), 1fr);
	gap: 1em;
}

// responsive snap at 992px
@media (min-width: 992px) {
	:root {
		--grid-column-count: 2;
	}
}