@use 'sass:math';
@use 'sass:color';

@mixin vt-gradients($alphaMod: 1) {
  $c1: #000;
  $c2: black;
  background-image: radial-gradient(
    circle at 20% 20%,
    color.change($c1, $alpha: (1 * $alphaMod)) 0%,
    color.change(color.mix($c1, $c2), $alpha: (0.5 * $alphaMod)) 80%,
    color.change($c2, $alpha: 0) 100%
  );
}

.frontdrops {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  mix-blend-mode: difference;
  opacity: 0.1;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@mixin rotator($duration) {
  animation-name: rotate;
  animation-duration: $duration;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.frontdrop1,
.frontdrop2 {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 150%;
  min-height: 150%;
  aspect-ratio: 1/1;
  mix-blend-mode: lighten;
  background-blend-mode: screen;
}

$edge1: #fff;
$middle1: #000;

$edge2: #000;
$middle2: #fff;

$strip-width: 7px;

.frontdrop1 {
  @include rotator(120s);
  // background-blend-mode: lighten;
  background: repeating-radial-gradient(
    circle at 150% 150%,
    $middle1,
    $edge1 $strip-width,
    $middle1 $strip-width * 2
  );
}
.frontdrop2 {
  @include rotator(241s);
  animation-direction: reverse;
  // background-blend-mode: lighten;
  background-image: repeating-linear-gradient(
    $middle2,
    $edge2 $strip-width,
    $middle2 $strip-width * 2
  );
}

// .fade {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   box-shadow: 0 0 0.5em #fff inset;
//   // @include vt-gradients(0.5);
// }
