@import '@fontsource/fira-mono';
@import "open-props/style";
@import "open-props/normalize";
@import "@picocss/pico";

a:visited {
	/*
	Firefox ballses up when you have a transition on `a:link` and also have styles
	for a:visited.
  https://bugzilla.mozilla.org/show_bug.cgi?id=1327801
	https://bugzilla.mozilla.org/show_bug.cgi?id=671237
	https://bugzilla.mozilla.org/show_bug.cgi?id=868975

	here's my minimal repro:
	https://codesandbox.io/s/firefox-visited-transition-chaos-vdd6b

	this is manifesting for me because I have both open-props/normalize (which
	defines `:visited` styles) and @picocss/pico (which adds a transition.)

	I have tried all of the below to "remove" the :visited style but you can't
	retroactively unset a rule, so the answer as of now is to redfine the :visited
	style using the same variable it uses.
	*/
	/* color: var(--pink-6); */
	/* color: currentcolor; */
	/* color: inherit; */
	/* color: initial; */
	/* color: revert; */
	/* color: unset;	 */
	color: var(--color);
}



/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: var(--pink-3);
  --primary-hover: var(--pink-6);
  --primary-focus: rgba(216, 27, 96, 0.125);
  --primary-inverse: #FFF;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
		--primary: var(--pink-3);
		--primary-hover: var(--pink-6);
		--primary-focus: rgba(216, 27, 96, 0.25);
    --primary-inverse: #FFF;
  }
}

footnote {
	color: var(--text-1);
	display: block;
	font-size: 0.7em;
	border-top-width: 1px;
	border-top-style: solid;
	margin-top: 2em;
}

:root {
	--color: var(--primary);
}
